old_stuff.tex
open_questions.tex
*.aux
*.blg
*.log
*.out 
*.gz
*.bbl
*.fls
*.fdb_latexmk
*.csv
*Notes.bib
old_main.tex
old_main.pdf
_highly_non_markovian_exact.py
_highly_non_markovian_model.ipynb
_tst.ipynb
_new_test.ipynb
network_linear_system_experiment.ipynb
*/aut/*